
@{
    ViewBag.Title = "_ModalListNote";
}

<div class="modal fade" id="modalLotes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:2200px;transform:translateX(-450px);">
    <div class="modal-dialog modal-lg" style="width:2200px;">
        <div class="modal-content" style="width:1500px;">
            <div class="modal-header">
                <h5 class="modal-title" id="txtTitleModal">Listado de Lotes </h5>
                <strong onclick="closeModalListLotes()" style="cursor:pointer;">X</strong>
            </div>
            <div class="modal-body" style="width:100%">
                <table class="table table-hover" id="tblLote">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha Ingreso</th>
                        <th>Fecha Vencimiento</th>
                        <th>Cantidad</th>
                        <th>Stock</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                     <tbody>
                         <tr>
                             <td></td>
                         </tr>
                     </tbody>
                </table> 

            </div>
            <hr />
        </div>
    </div>
</div>



