
@{
    ViewBag.Title = "Index";
}
<style>
    .table-scroll{
        overflow-y:auto;
        overflow-x:hidden;
        height:260px;
    }
</style>
<div class=" h-100 " style="width:1500px; margin:auto;">
    @*<h1 class="text-center pt-5 pb-3">Administración de Gestión</h1>*@
    <div class="row h-100 justify-content-center align-items-center flex-column">
        <div class="card w-100 p-5">
               <div class="card-header">
    <h1 class="text-center p-1">Comprobante Contable</h1>
               </div>
              <div class="card-body">
            <div class="form-group text-right">

               <button class="btn btn-secondary" onclick="back()"><span class="fas fa-arrow-left" aria-hidden="true"></span></button>
               <button class="btn btn-danger" onClick="nullVoucher()" id="btnNullVoucher" style="display:none;" data-toggle="tooltip" data-placement="top" title="Anular Comprobante "><span class="fas fa-trash" aria-hidden="true"></span></button>
               <a class="btn  btn-primary " id="btnPrintReport" style="display:none;"  data-toggle="tooltip" data-placement="top" title="Reporte de Comprobante" href="http://192.168.100.8/Report/report/Report%20Account/ReportVoucher"  target="_blank"><span class="glyphicon glyphicon-check" aria-hidden="true"><i class="fas fa-book"></i></span></a>
               <button class="btn btn-primary" onclick="sendAll()" id="btnSave"><span class="fas fa-save" aria-hidden="true"></span></button>
               </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>
                            Serie
                        </label>
                        <input type="text" class="form-control" id="txtNextId" value="1" readonly />
                         </div>
                    <div class="form-group">
                        <label>Tipo de compra</label>
                        <select class="form-control" id="dropdownTypeVoucher">
                            <option value="1">Ingreso</option>
                            <option value="2">Egreso</option>
                            <option value="3">Traspaso</option>
                            <option value="4">Apertura</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="date"  class="form-control" id="txtdateVoucher"  />
                    </div>
                    <div class="form-group">
                        <label>Tipo de Cambio</label>
                        <input type="text" class="form-control" value="" id="txtExchange" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Estado </label>
                        <input type="text" value="Abierto" class="form-control" readonly  id="txtStatusVoucher"/>
                    </div>
                    <div class="form-group">
                        <label>Moneda</label>
                        <select class="form-control" id="dropdownCurrency">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Glosa</label>
                <textarea class="form-control" id="txtgloss">
                </textarea>
            </div>
            <button class="btn btn-primary mb-2" onclick="openModal()" id="bntAddDetailVoucher">
                +
            </button>
            <div  class="table-scroll">

            <table id="tblDetailVoucher" class="table table-hover" style="cursor:pointer;">
                <thead>
                    <tr>

                        <th>Cuenta</th>
                        <th>Glosa </th>
                        <th>Debe</th>
                        <th>Haber</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <!--<tfoot>
                    <tr>-->
                        @*<th colspan="2" style="text-align:right">TOTAL : </th>*@
                        @*<th id="txtDebeTotal" class="text-right">0</th>*@
                        @*<th id="txtHaberTotal" class="text-right">0</th>*@
                        <!--<th></th>
                    </tr>
                </tfoot>-->
            </table>
              </div>
               <div style="" class="text-center pt-3">
                <label style="margin-left:155px;"><strong>TOTAL : </strong></label>
                <strong> <spam id="txtDebeTotal"  style="margin-left:230px;"> 0</spam></strong>
                <strong><spam id="txtHaberTotal" class="ml-20" style="margin-left:220px">0</spam></strong>
            </div>


               </div>

        </div>


    </div>
</div>
@Html.Partial("_ModalAddVoucher")
<script src="~/Scripts/system/Voucher/Voucher.js"></script>

