

@{
    ViewBag.Title = "Index";
}
<style>
   /* .table-scroll{
        overflow-y:auto;
        overflow-x:hidden;
        height:260px;
    }*/
    .tableFixHead {
        overflow-y: auto;
        height: 360px;
        overflow-x:hidden;
    }

        .tableFixHead thead th {
            height:30px;
            position: sticky;
            top: 0;
            z-index: 1;
        }
        .tableFixHead tfoot th{
            position: sticky;
            bottom: 0;
            z-index: 1;

        }
        tfoot{
            height:30px;
        }
        tbody{
            height:300px;
        }

    /* Just common table stuff. Really. */
    table {
        /*border-collapse: collapse;*/
        width: 100%;
        /*height:330px;*/
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }
     .select2-choices {
        min-height: 150px;
        max-height: 150px;
        overflow-y: auto;
    }
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>

<div class=" h-100 " style="width:1500px; margin:auto;">
    @*<h1 class="text-center pt-5 pb-3">Administración de Gestión</h1>*@
    <div class="row h-100 justify-content-center align-items-center flex-column">
        <div class="card w-100 p-5">
               <div class="card-header">
    <h1 class="text-center p-1">Nota de Venta</h1>
               </div>
              <div class="card-body">
            <div class="form-group text-right">
               <button class="btn btn-secondary" onclick="back()"><span class="fas fa-arrow-left" aria-hidden="true"></span></button>
               <button class="btn btn-danger" onClick="nullNote()" id="btnNullNote" style="display:none;" data-toggle="tooltip" data-placement="top" title="Anular Nota "><span class="fas fa-trash" aria-hidden="true"></span></button>
               <a class="btn  btn-primary " id="btnPrintNote" style="display:none;"  data-toggle="tooltip" data-placement="top" title="Reporte de Nota" href="http://192.168.100.8/Report/report/Report%20Account/ReportNoteSale"  target="_blank"><span class="glyphicon glyphicon-check" aria-hidden="true"><i class="fas fa-book"></i></span></a>
               <button class="btn btn-primary" onclick="sendAll()" id="btnSave"><span class="fas fa-save" aria-hidden="true"></span></button>
               </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>
                            Nro
                        </label>
                        <input type="text" class="form-control" id="txtNroNote" value="1" readonly />
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>
                                Fecha
                            </label>

                            <input type="date" id="txtDate" class="form-control" />
                        </div>
                    </div>
                <div class="col"> 
                        <div class="form-group">
                            <label>Estado </label>
                            <input type="text" name="name" value="Abierto" readonly  class="form-control" id="txtStatusNote"/>
                        </div>
                </div>
                </div>
            <div class="form-group">
                <label>Descripcion</label>
                <textarea class="form-control" id="txtDescriptionNote">
                </textarea>
            </div>
            <button class="btn btn-primary mb-2" onclick="openModal()" id="bntAddLote">
                +
            </button>
            <div  class="tableFixHead">

            <table id="tblDetails" class="table table-hover" style="cursor:pointer;">
                <thead>
                    <tr>
                        <th>Articulo</th>
                        <th>N° Lote</th>
                        <th>Cantidad </th>
                        <th>Precio</th>
                        <th>Sub-Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody  class="table-scroll">
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4" style="text-align:right">TOTAL : </th>
                        <th id="txtTotal" class="text-right">0</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
              </div>
               @*<div style="" class="text-center pt-3">
                <label style="margin-left:155px;"><strong>TOTAL : </strong></label>
                <strong><spam id="txtTotal" class="ml-20" style="margin-left:220px">0</spam></strong>
            </div>*@


               </div>

        </div>


    </div>
</div>
@Html.Partial("_ModalNoteSale")
<script src="~/Scripts/system/Note/NoteSale.js"></script>

